@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Drone Application</h1>
    <img src="~/lib/1523861554_1PreUg_drone-delivery-shutterstock-470.jpg" />
    </div>
