@model DroneApplication.Models.BookingDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookingDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingId" class="control-label"></label>
                <input asp-for="BookingId" class="form-control" />
                <span asp-validation-for="BookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DroneShotType" ></label>
                <!---- <input asp-for="DroneShotType" class="form-control" /> --->
                <select asp-for="DroneShotType">
                    <option value="Spinning elevation shot">
                        Spinning elevation shot.
                    </option>
                    <option value="Half moon bay shot.">
                        Half moon bay shot.
                    </option>

                    <option value="Object shot">
                        Object shot
                    </option>

                    <option value="180-degree shot">
                        180-degree shot
                    </option>

                    <option value="Obstacle shot to reveal the subject">
                        Obstacle shot to reveal the subject
                    </option>

                    <option value="Object shot with large reveal down">
                        Object shot with large reveal down
                    </option>

                    <option value="Slow reveal out of the subject">
                        Slow reveal out of the subject
                    </option>

                    <option value="High angle shot">
                        High angle shot
                    </option>

                </select>
                <span asp-validation-for="DroneShotType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpTo" class="control-label"></label>
                <input asp-for="UpTo" class="form-control" />
                <span asp-validation-for="UpTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
